@media screen and (max-width: 992px) {
  .navbar-avatar-container {
    display: none;
  }

  .certificate-vr {
    height: 180px;
  }

  .job-title {
    flex-direction: column;
    margin-top: 15px;
    /* to do */
  }
}
