.main {
  display: flex;
  background-color: rgb(232, 240, 243);
  border: 1px solid #de1717;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 10px;
  flex-direction: row;
}

.el--1 {
  border: 1px solid yellowgreen;
  background-color: #de1717;
  align-self: flex-start;
  order: 1;
}
.el--4 {
  align-self: center;
  border: 1px solid rgb(205, 50, 148);
  background-color: #179fde;
  align-self: flex-start;
  order: -1;
}
p {
  font-size: 70px;
}
