.flex-container {
  display: flex;
  background-color: yellow;
  flex-wrap: wrap-reverse;
}
.flex-container > div {
  background-color: rgb(229, 183, 198);
  margin: 20px;
  padding: 50px;
  font-size: 50px;
  width: auto;
  text-align: cen;
  line-height: auto;
}
p {
  font-size: 50px;
}
