.flex-container {
  display: flex;
  background-color: hotpink;
  flex-wrap: nowrap;
}
.flex-container > div {
  background-color: lavenderblush;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: auto;
  text-align: center;
  line-height: auto;
}
p {
  font-size: 50px;
}
