body {
  margin: 0px;
}

.cv-document {
  box-sizing: border-box;
  border: none;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: arial, sans-serif, tahoma;
  font-size: 10pt;
}

.cv-page {
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  width: 900px;
  min-height: 900px;
  margin: 0 auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  position: relative;

  padding: 40px;
}

.section {
  margin: 40px;
  position: relative;
}

.section-title {
  text-transform: capitalize;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.container-info {
  display: inline-block;
}

.container-profile-picture {
  display: inline-block;
  position: absolute;
  right: 0;
}

.profile-picture {
  width: 113px;
  height: 113px;
}

dt {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}

dd {
  display: inline-block;
  margin: 0;
}

dd.break {
  display: block;
}

.container-flex {
  display: flex;
  border-bottom: 1px solid #f0f0f0;
  margin-left: 8px;
}

.container-flex-left {
  flex-basis: 25%;
}

#skill .container-flex-left {
  font-weight: bold;
}

.container-flex-right {
  flex-basis: 75%;
}

.timeline {
  position: relative;
}

.timeline::before {
  content: "";
  position: absolute;
  width: 1px;
  background-color: #cccccc;
  top: 0;
  bottom: 0;
  left: 0%;
  height: 90%;
  margin-left: 0px;
}

.timeline-entry-container {
  position: relative;
}

/* The circles on the timeline */
.timeline-entry-container::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  border: 2px solid black;
  background-color: black;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  left: -10px;
}

ul {
  list-style-type: inherit;
  padding-left: 1.5em;
}

a {
  text-decoration: none;
}
