body {
  margin: 0px;
}

.cv-document {
  box-sizing: border-box;
  border: none;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: arial, sans-serif, tahoma;
  font-size: 10pt;
}

.cv-page {
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  width: 900px;
  min-height: 900px;
  margin: 0 auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  position: relative;

  padding: 40px;
}

.section {
  margin: 40px;
  position: relative;
}

.section-title {
  text-transform: capitalize;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.container-info {
  display: inline-block;
}

.container-profile-picture {
  display: inline-block;
  position: absolute;
  right: 0;
}

.profile-picture {
  width: 113px;
  height: 113px;
}

dt {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}

dd {
  display: inline-block;
  margin: 0;
}

dd.break {
  display: block;
}

/*.time {
  display: inline;
  vertical-align: top;
}
.achive {
  display: inline-block;
  list-style-type: none;
  vertical-align: top;
}*/
.activity {
  list-style-type: disc;
  display: inline-block;

. .date {
    display: inline;
    width: 25%;
    font-weight: bold;
    vertical-align: top;
   
  }

  .event {
    display: inline-block;
    width: 75%;
    list-style-type: none;
    vertical-align: top;
    
  }

  .title {
    font-weight: bold;
  }

  .interest {
    list-style-type: circle;
  }
  .contact {
    list-style: number;
  }
  .title {
    text-transform: capitalize;
  }